* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding: 2rem;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 8px;
}

.image-box {
    max-height: 40vh;
    max-width: 300px;

    &:last-child {
        flex-grow: 10;
    }

    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        border-radius: .5rem;
        box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.64);
        -webkit-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.64);
        -moz-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.64);
    }
}